@font-face {
    font-family:'Blue';
    src: url(/assets/fonts/blue.woff);
}

:root, html, * {
    background-color:#000;
    color:#AAA;
    font-family:'Blue', Monaco, Menlo, monospace;
    font-size:12px;
    line-height:110%;
    width:96%;
    margin:0 auto;
}

a {
    text-decoration:none;
}

a:hover {
    opacity:25%;
}

th, td {
    display:table-cell;
    text-align:left;
    vertical-align:top;
    padding:0 4% 1% 0;
}

@media only screen and (max-width:768px) {
    :root, html, * {
        font-size:10px;
        text-wrap:wrap;
    }
}