<!DOCTYPE html>
<html>
<head>
    
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/assets/style.css" type="text/css">
    <meta http-equiv="Content-Type" content="text/html;charset=ISO-8859-1">

</head>

<body>

    <p>Welcome to <a href="/">PROTOCO.LS</a></p>

    <pre>
        s                                                   ..    .x+=:.  
        :8                                             x .d88"    z`    ^% 
.d``            .u    .          u.      .88           u.                    u.           5888R        .   <k
@8Ne.   .u    .d88B :@8c   ...ue888b    :888ooo  ...ue888b        .    ...ue888b          '888R      .@8Ned8"
%8888:u@88N  ="8888f8888r  888R Y888r -*8888888  888R Y888r  .udR88N   888R Y888r          888R    .@^%8888" 
`888I  888.   4888>'88"   888R I888>   8888     888R I888> <888'888k  888R I888>          888R   x88:  `)8b.
888I  888I   4888> '     888R I888>   8888     888R I888> 9888 'Y"   888R I888>          888R   8888N=*8888
888I  888I   4888>       888R I888>   8888     888R I888> 9888       888R I888>          888R    %8"    R88
uW888L  888'  .d888L .+   u8888cJ888   .8888Lu= u8888cJ888  9888      u8888cJ888     .     888R     @8Wou 9% 
'*88888Nu88P   ^"8888*"     "*888*P"    ^%888*    "*888*P"   ?8888u../  "*888*P"    .@8c   .888B . .888888P`  
~ '88888F`        "Y"         'Y"         'Y"       'Y"       "8888P'     'Y"      '%888"  ^*888%  `   ^"F    
888 ^                                                        "P'                  ^*      "%               
*8E                                                                                                        
'8>                                                                                                        
"                                                                                                         
    </pre>

    <p>A protocol-based productivity system by <a href="/">PAYLOAD</a></p>

    <p>Last release: 2025-03-19</p>

    {{ content }}

    <p>&copy;2025 PROTOCO.LS</p>

</body>
</html>