<!DOCTYPE html>
<html>
<head>
    
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/assets/style.css" type="text/css">
    <meta http-equiv="Content-Type" content="text/html;charset=ISO-8859-1">

</head>

<body>

    <p>Welcome to <a href="/">PROTOCO.LS</a></p>

    <p>
            s                                                   &period;&period;    &period;x&plus;&equals;&colon;&period;  <br>
            &colon;8                                             x &period;d88&quot;    z&grave;    &Hat;&percnt; <br>
        &period;d&grave;&grave;            &period;u    &period;          u&period;      &period;88           u&period;                    u&period;           5888R        &period;   &lt;k<br>
        &commat;8Ne&period;   &period;u    &period;d88B &colon;&commat;8c   &period;&period;&period;ue888b    &colon;888ooo  &period;&period;&period;ue888b        &period;    &period;&period;&period;ue888b          &apos;888R      &period;&commat;8Ned8&quot;<br>
        &percnt;8888&colon;u&commat;88N  &equals;&quot;8888f8888r  888R Y888r -&ast;8888888  888R Y888r  &period;udR88N   888R Y888r          888R    &period;&commat;&Hat;&percnt;8888&quot; <br>
        &grave;888I  888&period;   4888&gt;&apos;88&quot;   888R I888&gt;   8888     888R I888&gt; &lt;888&apos;888k  888R I888&gt;          888R   x88&colon;  &grave;&rpar;8b&period;<br>
        888I  888I   4888&gt; &apos;     888R I888&gt;   8888     888R I888&gt; 9888 &apos;Y&quot;   888R I888&gt;          888R   8888N&equals;&ast;8888<br>
        888I  888I   4888&gt;       888R I888&gt;   8888     888R I888&gt; 9888       888R I888&gt;          888R    &percnt;8&quot;    R88<br>
        uW888L  888&apos;  &period;d888L &period;&plus;   u8888cJ888   &period;8888Lu&equals; u8888cJ888  9888      u8888cJ888     &period;     888R     &commat;8Wou 9&percnt; <br>
        &apos;&ast;88888Nu88P   &Hat;&quot;8888&ast;&quot;     &quot;&ast;888&ast;P&quot;    &Hat;&percnt;888&ast;    &quot;&ast;888&ast;P&quot;   ?8888u&period;&period;/  &quot;&ast;888&ast;P&quot;    &period;&commat;8c   &period;888B &period; &period;888888P&grave;  <br>
        &tilde; &apos;88888F&grave;        &quot;Y&quot;         &apos;Y&quot;         &apos;Y&quot;       &apos;Y&quot;       &quot;8888P&apos;     &apos;Y&quot;      &apos;&percnt;888&quot;  &Hat;&ast;888&percnt;  &grave;   &Hat;&quot;F    <br>
        888 &Hat;                                                        &quot;P&apos;                  &Hat;&ast;      &quot;&percnt;               <br>
        &ast;8E                                                                                                        <br>
        &apos;8&gt;                                                                                                        <br>
        &quot;                                                                                                         <br>
    </p>

    <p>A protocol-based productivity system by <a href="/">PAYLOAD</a></p>

    <p>Last release: 2025-03-19</p>

    {{ content }}

    <p>PROTOCO.LS<br>Proudly presented by<br>
    </p>
</body>
</html>